.page.theme_light {
  --accent-color: #ff8dcb;
  --shadow-color: #ff0070;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --header-title-color: #ffc2e6;

  background-image: url('../images/cover-image-light.png');

  .title-decor {
    color: var(--text-color);
  }

  .lamp {
    display: none;
  }
  .title-big {
    text-shadow: 4px 4px 0 var(--shadow-color);
  }
  .header__theme-menu {
    color: var(--text-color);
  }
  .decorated-zone::before {
    border-top: 1px solid currentColor;
    border-right: 1px solid currentColor;
  }
  .decorated-zone::after {
    border-left: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --shadow-color: #ff0070;
    --bg-color: #fff1f7;
    --text-color: #353430;
    --header-title-color: #ffc2e6;
  }
  .page.theme_light {
    background-image: url('../images/cover-image-light.png');

    .title-decor {
      color: var(--text-color);
    }

    .lamp {
      display: none;
    }
    .title-big {
      text-shadow: 4px 4px 0 var(--shadow-color);
    }
    .header__theme-menu {
      color: var(--text-color);
    }
    .decorated-zone::before {
      border-top: 1px solid currentColor;
      border-right: 1px solid currentColor;
    }
    .decorated-zone::after {
      border-left: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
    }
  }
}
